/*
modelo base do design
*/
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bruno Ace', sans-serif;
}

body{
    /* variavel */
    --color-secundaria: #393939;
    --color-principal: #6B6B6B;
    --color-branquelo: #F8EDED;
    --colo-laranjo: #01FFFF;
    --colo-baralateral: #66ebebe0;
    --color-grafico: rgba(165, 165, 165, 0.137);
    --color-terminal: rgba(27, 27, 27, 0.507);

    /* cod */
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: row;
}
section{

    justify-content: space-between;
    align-content: stretch;
}

/* nav bar */

.navbar{
    width: 250px;
    background-color: var(--color-principal);
    flex-direction: column;
    justify-content: space-between;
    display: flex;
    opacity: 1;
    border-right: 3px solid rgba(63, 63, 63, 0.644);
}

.navbar-menu{
    margin-top: 100px;
}

.logo{
    justify-content: center;
    margin-top: 25px;
    margin-left: 60px;
    margin-bottom: 25px;
}
.logo img{
    width: 125px;
    height: 125px;
}
 ul{
    list-style-type: none;
 }
 .Item-menu{
    margin-left: 30px;
    margin-top: 50px;
    padding: 10px;
    border-radius: 10px;
 }
 .Item-menu a{
    text-decoration: none;
    color: white;
    transition: .5s;
 }
 .Item-menu:hover{
    background-color: var(--colo-baralateral);
 }
 .Item-menu span{
    margin-right: 20px;
 }

 .ativo{
    color: black;
    background-color: var(--colo-laranjo);
 }

 .conta{
   display: flex;
   justify-content: center;
    margin-top: 350px;
    align-items: end;
 }
 .conta a:hover{
    background-color: var(--color-secundaria);
    border-radius: 50%;
 }

 /* gráfico principal */

 .grafico-principal{
    width: 1200px;
    flex-direction: column;
    padding-left: 60px;
    padding-top: 10px;
    background-color: var(--color-secundaria);
 }
 .grafico{
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: 950px;
    height: 550px;
    
    background-color: var(--color-principal);
    padding: 10px;
    border-radius: 20px;
 }
 .grafico canvas{
    background-color: var(--color-grafico);
 }

 .terminal-saldo{
    margin-top: 90px;
    background-color: var(--color-principal);
    width: 950px;
    height: 280px;
    border-radius: 20px;
    padding: 20px;
    color: var(--color-branquelo);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.terminal-tabelaSaldo{
    display: flex;
    align-content: center;
    width: 910px;
    height: 70px;
    background-color: var(--color-terminal);
    padding: 10px;
    padding-left: 90px;
    border-radius: 10px;
}
.terminal-saldo h1{
    margin-right: 90px;
}

.modolos{
   background: var(--color-secundaria);
   height: 45px;
   width: 50px;
   border-radius: 5px;
}

.plus img{
   height: 50px;
   color: var(--color-branquelo);
}

 /* gráfico e notificação na parte lateral */

 .grafico-lateral{
    width: 500px;
    padding: 10px;
    background: var(--color-secundaria);
    
    
 }
.grafico-lateral div{
   display: flex;
   justify-content: center;
}

 .grafico2{
    background-color: var(--color-principal);
    border-radius: 20px;
 }
 .nitificacao{
    border-radius: 20px;
    height: 420px;
    margin-top: 30px;
    background-color: var(--color-principal);
}
.icones{
    padding-top: 15px;
    display: flex;
    justify-content: center;
}
.icones span{
    margin-right: 10px;
    color: var(--color-branquelo);
}
.icones h3{
    color: var(--color-branquelo);
}